:root{
  --bg-gradient-top: #020e20ff;
  --bg-gradient-bottom: #060214ff;
  --primary-color: white;
  --secondary-color: #7a7a7aff;
  --element-background: #02020cff;
  --primary-accent: #49ff55ff;
  --break-end-accent: #ff7b4aff;
  --focus-start-accent: #4af2ffff;
  --secondary-accent: #589adcff;
  --link-accent: rgb(201, 98, 224);
}

@media (prefers-color-scheme: light) {
  :root{
    --bg-gradient-top: #afedffff;
    --bg-gradient-bottom: #ffeee4ff;
    --primary-color: #112750ff;
    --secondary-color: #315377ff;
    --element-background: #d3fbffdd;
    --primary-accent: #19a15aff;
    --secondary-accent: #315377;
    --focus-start-accent: #2072cdff;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Segoe UI', 'Roboto', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: linear-gradient(var(--bg-gradient-top), var(--bg-gradient-bottom));
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);  
}

body > *{
  max-width: 512px;
}

h1{
  text-align: center;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
}

.clock{
  margin: 0;
  width: 256px;
  height: 256px;
  background-color: var(--element-background);
  border-radius: 128px;
}

.clockface{
  margin-top: -256px;
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg{
  pointer-events: none;
  z-index: -1;
  transform: rotate(-90deg);
}

svg > circle{
  transition: stroke 1s;
  stroke: var(--primary-accent);
}

.break > svg > circle{
  transition: stroke 120s;
  stroke: var(--break-end-accent);
}

.focus > svg > circle{
  stroke: var(--focus-start-accent);
}

.clockface > *{
  font-size: x-large;
  margin: 0.3rem;
}

.clockface > label{
  color: var(--secondary-accent);
}


.time {
  font-size: xxx-large;
  color: var(--primary-accent) !important;
  font-weight: 500;
}

.break > .clockface > .time{
  transition: color 120s;
  color: var(--break-end-accent) !important;
}

.focus > .clockface > .time{
  transition: color 1s;
  color: var(--focus-start-accent) !important;
}

button{
  transition: background-color 0.5s,  width 0.5s;
  border-radius: 50vh;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: solid 1pt var(--primary-accent);
  background-color: var(--primary-accent);
  color: var(--element-background);
  font-weight: 500;
}

.break > .clockface > button {
  background-color: var(--focus-start-accent);
  border: var(--focus-start-accent);
}

button:disabled {
  background-color: var(--element-background);
  transition: color 1s;
  color: var(--secondary-color);
}

.toDoList > * > *{
  margin: 0.5rem;
  font-size: medium;
}

input {
  padding: 0.2rem;
  border-radius: 25vh;
  border: none;
  background-color: var(--element-background);
  color: var(--primary-color)
}

input::placeholder{
  color: var(--secondary-color);
  font-style: italic;
}

ul {
  list-style-type: none;
}

a {
  color: var(--link-accent) !important;
  font-weight: 600;
}